.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-image: url("../../../../../public/icons/MainCreatures/Mammals.jpg"); */
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 8px;
}

.container:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.overlay {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
}

.overlay:hover {
    display: block;
    background-color: rgb(0, 0,0, 0.6);
}

.text {
    color: white;
    font-size: 16px;
    z-index: 10;
}

.text:hover {
    text-decoration: underline;
}