/* :root {
    --bg: hsl(223, 10%, 90%);
    --fg: hsl(160, 46%, 43%);
    --c1: hsl(160, 46%, 43%);
    --c2: hsl(160, 46%, 43%);
    --c3: hsl(160, 46%, 43%);
    --c4: hsl(160, 46%, 43%);
}

.pl1,
.pl2 {
	position: absolute;
	left: calc(50% - 48px);
    display: flex;
    justify-content: space-around;
    margin: 1.5em;
    width: 6em;
    height: 6em;
}

.pl1__a,
.pl1__b,
.pl1__c,
.pl2__a,
.pl2__b,
.pl2__c {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    transform-origin: 50% 100%;
}

.pl1__a,
.pl1__b,
.pl1__c {
    animation: bounce1 1s linear infinite;
}

.pl2__a,
.pl2__b,
.pl2__c {
    animation: bounce2 2s linear infinite;
}

.pl3,
.pl4 {
    display: flex;
    justify-content: space-between;
    margin: 1.5em;
    width: 6em;
    height: 6em;
}

.pl3__a,
.pl3__b,
.pl3__c,
.pl3__d {
    width: 0.75em;
    height: 0.75em;
    animation: bounce3 2s ease-in-out infinite;
    transform-origin: 50% 0;
}

.pl4__a,
.pl4__b,
.pl4__c,
.pl4__d {
    animation: bounce4 2s linear infinite;
    transform-origin: 50% 100%;
}

.pl1__a {
    background: var(--c1);
}

.pl1__b {
    background: var(--c2);
    animation-delay: 0.1s;
}

.pl1__c {
    background: var(--c3);
    animation-delay: 0.2s;
}

.pl3__d,
.pl4__d {
    background: var(--c4);
    animation-delay: 0.3s;
}

/* Анимации */
