.ecoaction_img {
  font-size: 20px;
  font-weight: 700;
}

.ecoactions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  margin-bottom: 34px;
}

.ecoaction {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.ecoaction img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

a {
  color: black;
  text-decoration: underline;
  font-size: 16px;
}
