.flex {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 80%;
  height: 100%;
  text-decoration: none;

  /* padding-top: 10; */
  /* padding-bottom: 10; */
}

.uploadPhoto {
  /* position: relative; */
  /* display: inline-block; */
  width: 100%;
}

.uploadPhoto input[type="file"] {
  position: absolute; /* Скрываем оригинальный input */
  z-index: -1; /* Помещаем его под label */
  width: 100%; /* Занимает всю ширину родителя */
  height: 100%; /* Занимает всю высоту родителя */
  opacity: 0; /* Делаем его невидимым */
  border: none;
}

.uploadPhoto label {
  display: inline-block;
  padding: 10px 25px;
  background-color: #6fb0a5; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  border-radius: 5px; /* Закругление углов */
  cursor: pointer; /* Курсор в виде руки при наведении */
}

/* .uploadPhoto label:hover {
  background-color: #555; 
} */

.ant-btn .css-dev-only-do-not-override-qnu6hi .ant-btn-primary {
  background-color: #000;
}

.flexText {
  font-size: 16px;
  color: #faf2f2;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Убираем подчеркивание для всех состояний */
}

.downloadPhoto {
  font-size: 16px;
  color: #faf2f2;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.drawerButton {
  display: none;
  /* cursor: pointer; */
}

.title {
  margin-left: 1rem;
  line-height: 1.2;
  color: #faf2f2;
  font-size: 16px;
  /* // margin-top: 5px */
  padding: 0.5rem 0 0.5rem 0;
  width: 10%;
}

.drawerButtonContainer {
  top: 19.63px;
  right: 23px;
  position: absolute;
}

.flexColumn {
  flex-direction: column;
  display: flex;
  align-items: end;
  /* height: 100%; */
}
.item {
  margin: 22px;
  /* padding: 20px; */
  /* background-color: lightblue; */
  line-height: 19.36px;
  color: #000;
  font-size: 16px;
}

.headerContent {
  padding-left: 9.75rem;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .flex {
    display: none;
  }
  .headerContent {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .drawerButton {
    display: flex;
    align-items: center;
    background-image: url("optionbutton.png");
    background-size: cover;
    border: none;
    background-color: transparent;
  }
  .title {
    width: 50%;
  }
}

/* style={{
  justifyContent: "space-evenly",
  alignItems: "center",
  width: "100%"
}} */
