.mainPage {
  display: flex;
  flex-direction: row;
  gap: 127px;
  /* width: 1124px; */
  width: 100%;
  margin: 0 auto;
  margin-top: 26px;
  padding: 1rem;
}

.photoCreatures {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.greeting {
  margin-top: 24px;
}

.map {
  width: 100%;
}

@media (max-width: 1200px) {
  /* поехал хедер где то с маргином траблы */
}

/* @media (min-width: 992px) {
} */

/* @media (min-width: 768px) {
  в хедере полетели кнопки
} */

@media (max-width: 480px) {
  /* в хедере полетел марджин от лого */

  .mainPage {
    margin-top: 0;
  }

  .newAndEcoActions {
    display: none;
  }
  .photoCreatures {
    display: none;
  }
  .greeting {
    display: none;
  }
}

/* @media (min-width: 320px) {
} */
