.mainPage {
  display: flex;
  flex-direction: row;
  gap: 127px;
  width: 1124px;
  margin: 0 auto;
  margin-top: 26px;
}

.photoCreatures {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.greeting {
  margin-top: 24px;
}

@media (max-width: 1200px) {
  /* поехал хедер где то с маргином траблы */
}

/* @media (min-width: 992px) {
} */

/* @media (min-width: 768px) {
  в хедере полетели кнопки
} */

@media (max-width: 480px) {
  /* в хедере полетел марджин от лого */
}

/* @media (min-width: 320px) {
} */
