.mainPage {
  /* PADDING НЕ ПРОПИСЫВАТЬ */

  display: flex;
  flex-direction: row;
  gap: 127px;
  /* width: 1124px; */
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding-left: 9.75rem;
  flex: 1;
  z-index: 10;
  /* padding: 1rem; */
}

.photoCreatures {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding-top: 1.5rem;
  z-index: -1;
}

.greeting {
  margin-top: 2.5rem;
}

.map {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 1200px) {
  /* поехал хедер где то с маргином траблы */
}

/* @media (min-width: 992px) {
} */

/* @media (min-width: 768px) {
  в хедере полетели кнопки
} */

@media (max-width: 480px) {
  /* в хедере полетел марджин от лого */

  .mainPage {
    margin-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100vh;
  }

  .newAndEcoActions {
    display: none;
  }
  .photoCreatures {
    display: none;
  }
  .greeting {
    display: none;
  }
  .mainPageFinder {
    display: none;
  }
}

/* @media (min-width: 320px) {
} */
